[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
providers = ["python"]

[deploy]
numReplicas = 1

startCommand = """
python manage.py migrate --noinput &&
python manage.py collectstatic --noinput &&
gunicorn tatygazelle_site.wsgi:application --bind 0.0.0.0:$PORT
"""
