[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
providers = ["python"]

[deploy]
numReplicas = 1

startCommand = "gunicorn tatygazelle_site.wsgi:application --bind 0.0.0.0:$PORT"

releaseCommand = "python manage.py migrate && python manage.py create_admin && python manage.py collectstatic --noinput"
